.Information {
    font-style:oblique;
}
body {
    background-color: rgb(203, 220, 218);
}
h1 {
    color: blue;
    text-align: center;
    font-family: "agbalumo";
}
#Nom {
    color: blueviolet;
}
.tri_image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
img {
    object-fit: cover;
    width: 200px;
    height: 145px;
}

#sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}